<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2008 - 2025 Haulmont Technology Ltd. All Rights Reserved.
  ~ Haulmont Technology proprietary and confidential.
  ~ Use is subject to license terms.
  -->

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haulmont.shamrock.driving.licence.check.mappers">

    <!--    todo get rid of direct update of SL_DRIVERS table-->
    <update id="updateDriverProfile">
        UPDATE SL_DRIVERS
        SET LICENSE_POINTS         = #{licencePoints},
            LICENSE_INSPECTED_DATE = #{licenceInspectDate},
            UPDATE_TS              = getDate(),
            UPDATED_BY             = #{createdBy,javaType=java.lang.Long,jdbcType=BIGINT},
            VERSION                = VERSION + 1
        WHERE ID = #{driverPid,javaType=java.lang.Long,jdbcType=BIGINT}

        <foreach collection="convictions" item="conviction">
            INSERT INTO SL_DRIVER_CONVICTIONS (
                UUID,
                IS_DELETED,
                CREATE_TS,
                CREATED_BY,
                VERSION,
                CONVICTION_DATE,
                OFFENCE_CODE,
                DRIVER_ID,
                ORDER_INDEX,
                SUSPENSION)

            SELECT newid(1),
                   0,
                   getdate(),
                   #{createdBy,javaType=java.lang.Long,jdbcType=BIGINT},
                   0,
                   #{conviction.convictionDate,javaType=org.joda.time.LocalDate,jdbcType=DATE},
                   #{conviction.code,javaType=java.lang.String,jdbcType=VARCHAR},
                   #{driverPid,javaType=java.lang.Long,jdbcType=BIGINT},
                   0,
                   #{conviction.description,javaType=java.lang.String,jdbcType=VARCHAR}
            WHERE NOT EXISTS (
                SELECT 1
                FROM SL_DRIVER_CONVICTIONS
                WHERE CONVICTION_DATE = #{conviction.convictionDate,javaType=org.joda.time.LocalDate,jdbcType=DATE}
                  AND OFFENCE_CODE = #{conviction.code,javaType=java.lang.String,jdbcType=VARCHAR}
                  AND DRIVER_ID = #{driverPid,javaType=java.lang.Long,jdbcType=BIGINT}
                  AND IS_DELETED = 0
            )
        </foreach>
    </update>
</mapper>